@media (max-width: 768px)
  .quiz-step-one-wrap-item 
    width: 49%
  .quiz-step-two-wrap-item 
    width: 49%
  .quiz-step-one-row
    justify-content: space-between
    label
      width: 49%
      margin-right: 0