@media (max-width: 578px)
  .feat
    padding-top: 40px
    padding-bottom: 30px
    .title
      font-size: 26px
      margin-bottom: 30px
    &-wrap
      &-item
        width: 100%
        padding: 25px
        &-top
          img
            max-width: 60px
          h3
            font-size: 18px
            margin-left: 15px
        &-bot
          font-size: 14px
  .quiz .button
    height: 50px
    width: 130px
    font-size: 16px
  
  .quiz-step-three
    &-wrap-item 
      label p
        font-size: 14px
  .quiz-step-two-btn .btns
    flex-direction: column
    align-items: center
    width: 100%
    .button
      width: 100%
      max-width: 100%
      margin: 0
      margin-bottom: 15px
  .quiz-step-three-city label,
  .quiz-step-tel-wrap label
    font-size: 16px
  .quiz h3
    font-size: 20px
  .quiz-step-four-wrap label p,
  .quiz-step-five-wrap label p
    font-size: 16px
  .quiz-step-five-wrap label div,
  .quiz-step-four-wrap label div
    min-width: 26px

  .header
    padding-bottom: 115px
    &-thanks
      background-image: url(../img/thanks/bg-mob.jpg)
      h1
        margin-top: 65px
        margin-bottom: 15px
    p
      font-size: 18px
  
  .youtube, .site, .sert, .map, .out
    padding: 40px 0
  .youtube-wrap-item .video
    height: 200px
    iframe
      height: 200px
  .youtube-title-right
    width: 100%

  .site-left a.button
    margin-left: auto
    margin-right: auto

  .sert-right 
    h2 
      font-size: 22px
    p
      margin-bottom: 30px
  .sert-left 
    width: 100%
    img
      width: 100%
      max-width: 100%
  .sert-right-img
    display: none
    

  .out .fotorama__arr
    height: 25px
    width: 25px
  .out
    padding-bottom: 0
    .container
      margin-bottom: 40px

  .map-wrap
    width: calc(100% + 30px)
    position: relative
    left: -15px
    border-radius: 0
    iframe
      border-radius: 0
      height: 250px




